body{
	background-color:#FFE4C4;
	font-family: 'Indie Flower', cursive;

}

img {
    border: 1px solid orange;
 
   padding: 10px;
    width: 240px;
    border-radius: 100%;
}

.card1{
	padding:30px;
}
.card2{
	padding:40px;
}
.card3{
	padding:30px;
}
.card text-center{
	padding:30px;
	margin:30pxs;
}
.ol{
	float:left;
}
.card title{
	color:	#DB7093;
	font color:	#000080;
}
.card4{

	float:right;
}
.card5 text-center{
	margin: 30px;
}


i{
	float:right;
	margin:10px;
}


